nav.container {

  padding-top: 20px;

  h1 {
    font-size: 2rem;
    display: inline;
  }

  hr {
    margin-top: 10px;
  }
}

input[type=search] {
  border: solid 1px #aaa;
  width: 300px;
}

.form {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .search-input {
    margin-right: 40px;
  }

  .format-selection {
    flex: 1 1 0;
  }

  .help {
    font-style: italic;
    font-size: 1.3rem;
    max-width: 100%;
  }
}

ul.button-bar {
  white-space: nowrap;
  list-style-type: none;
  margin: 0;

  > li {
    display: inline-block;
    margin-right: 10px;
  }

  @media (max-width: 600px) {

    display: inline-block;

    > li {
      display: block;
      margin-right: 0;
    }
  }
}

a.with-icon {

  color: #606c76;

  [class^="icon-"], [class*=" icon-"] {
    color: cornflowerblue;
    margin-right: 0.5rem;
  }
}
